html, body {
	height: 100%;
	overflow: auto;
}

.avgrund-popin {
	position: absolute;
	background: transparent url('http://tympanus.net/Development/FullscreenImageBlurEffect/images/pattern.png') repeat top left;
	padding: 15px;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	top: 8%!important;
	left: 10%!important;
	bottom: 8%!important;
	right: 10%!important;
	width:80%!important;
	height:80%!important;
	margin:auto!important;
	z-index: 1000;
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .5);

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

.avgrund-popin.custom{
	box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.6), 0px 0px 0px 0px rgba(0,0,0,0.1) inset!important;
	color:white;
	font-size:18px;
}
.avgrund-overlay {
	background: rgba(199, 161, 161, 0) url('http://tympanus.net/Development/FullscreenImageBlurEffect/images/pattern.png') repeat top left;
	background-color: rgba(0,0,0,0.1);
	width: 100%;
	position: relative;
	top: -1500px;
	left: 0;
	z-index: 101;
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
}

body.avgrund-ready,
.avgrund-ready .avgrund-popin,
.avgrund-ready .avgrund-overlay {
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;

	-webkit-transition: .2s all ease-out;
	-moz-transition: .2s all ease-out;
	-ms-transition: .2s all ease-out;
	-o-transition: .2s all ease-out;
	transition: .2s all ease-out;
}

.avgrund-active {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
	overflow: hidden;
}

.avgrund-active .avgrund-popin {
	visibility: visible;
	opacity: 1;
	filter: alpha(opacity=100);

	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1);
}

.avgrund-active .avgrund-overlay {
	visibility: visible;
	opacity: .5;
	filter: alpha(opacity=50);
	height: 20000px;
}

.avgrund-popin.stack {
	-webkit-transform: scale(1.8);
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	-o-transform: scale(.8);
	transform: scale(.8);
}

.avgrund-active .avgrund-popin.stack {
	-webkit-transform: scale(.8);
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	-o-transform: scale(.8);
	transform: scale(.8);
}

.avgrund-active .avgrund-blur {
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-ms-filter: blur(1px);
	-o-filter: blur(1px);
	filter: blur(1px);
}

/* Optional close button styles */
.avgrund-close {    
	display: block;
	color: #E8E8E8;
	font-size: 26px;
	text-decoration: none;
	text-transform: uppercase;
	position: absolute;
	top: 6%;
	right: 8.5%;
	z-index: 10000000;
	opacity: 0;
}