html{
  background-color: #000;
}

@font-face {
    font-family: space age;
    src: url('../fonts/spaceage.ttf');
}
.background {
  background: url('../img/1.jpg') no-repeat 50% 100%;
  bottom: 0px;
  background-size: cover;
  position: absolute;
  width: 110%;
  left: -5%;
  top: -5%;
}


/* mlpm css */
.multilevelpushmenu_wrapper h2  {
  color: #517193 !important;
}

.multilevelpushmenu_wrapper .backItemClass  {
  background: #11385E !important;
}

.multilevelpushmenu_wrapper .levelHolderClass {
  background: #0A2A49 !important;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
}

/*asdasdas */
.only{
    position: absolute;
    top: -32px;
    left: 0;
    right: 0;
    margin: auto auto;
    display: none;
}
.rotater {
  display: none;
    position: absolute;
    top: -32px;
    left: 0;
    right: 0;
    margin: auto auto;
    -webkit-animation:spin 60s linear infinite;
    -moz-animation:spin 60s linear infinite;
    animation:spin 60s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.stationary{
  position: relative;
  margin:auto;
  height: 35%;
  width: 25%;
  left: 37.5%!important;
  top:33.3%!important;
  z-index: 1000;

}

.title{
  top:auto!important;
  bottom:8%!important;
  width:33.33%;
  height:15%;
  left:33.33%!important;
}
.header{
  width:33.33%;
  height:15%;
  left:33.33%!important;
  top:3%!important;
  background-image: url('../img/header.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.brackets,.innertext{
  height: auto;
  width: 100%;
  position: absolute;
  left: 0;
}

/*3d*/

.modal-menu-wrapper{
  width: 7%;
  height: 90%;
  right: 2%!important;
  left: auto!important;
  z-index: 100000;
  top:5%!important;
}
.modal-menu-items{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.circle1,.circle2,.circle3,.circle4,.circle5,.circle6{
  height: 80px!important;
  width: 80px!important;
  z-index: 100;
}
.circle1 img,.circle2 img,.circle3 img,.circle4 img,.circle5 img,.circle6 img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
}
.circle1:hover,.circle2:hover,.circle3:hover,.circle4:hover,.circle5:hover,.circle6:hover{
  cursor: pointer;
}
.circle1:hover >.outer-c,.circle3:hover >.outer-c,.circle5:hover >.outer-c{
  transform:rotateZ(360deg);
}
.circle2:hover >.outer-c,.circle4:hover >.outer-c,.circle6:hover >.outer-c{
  transform:rotateZ(-360deg);
}


.wrapper{
  perspective:1000px;
}
.pusher{
      transform: translate3d(0px, 0px, -30px)!important;
}
.scene{
  transition:all .5s ease-out;
}
.logo-layer{
  z-index: -1;
}

/*timer */
.countdown-container {
  position: relative;

}
.clock{
  display: -webkit-box!important;        /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox!important; 
  display: -webkit-flex!important;
  display: flex;
      justify-content: space-between;
    width: 33%;
    margin: 20px auto 10px;

}
.clock-item .inner {
  height: 0px;
  padding-bottom: 100%;
  position: relative; 
  width: 100%;
}

.clock-canvas {
  background-color: rgba(255, 255, 255, .1);
  border-radius: 50%;
  height: 0px;
  padding-bottom: 100%;
}

.text {
  color: #fff;  
  font-size: 20px;
  font-weight: bold;  
  margin-top: -32px;
  position: absolute;
  top: 50%;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  width: 100%;
}
.text p{
      margin: 24px 0px;
}
.text .val {
  font-size: 20px;
}

.text .type-time {
  font-size: 14px;
}

.kineticjs-content canvas{
        width: 75px!important;
        height: 75px!important;
    }

    .clock-item .inner{
        width: 75px!important;
        height: 75px!important;
    }

    
    .background-leaf{
          height: 300px;
    width: 100%;
    background-color: wheat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    }
    .background-leaf::before {
    content: '';
    background:rgba(0,0,0,.5);
    height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
}
.astro{
  width:150px;
  height:300px;
  left:6%!important;
  bottom:3%!important;
  top:auto!important;
  perspective:100px;
  transform-style:preserve-3d;
}
.stnMove{
  position:absolute;
  left: 0;
  top:0;
  width: 40%;
  height: 20%;
  -webkit-animation:stnMove 100s ease-out infinite 2s;
  -moz-animation:stnMove 100s ease-out infinite 2s;
  animation:stnMove 100s ease-out infinite 2s;
}
.makeItBounce{
  height: 40%;
  width: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-animation:Wobble 4s ease infinite;
  -moz-animation:Wobble 4s ease infinite;
  animation:Wobble 4s ease infinite;
}
@-moz-keyframes Wobble { 50%{ -moz-transform: translate3d(0,10px,0px); } 100% { -moz-transform: translate3d(0,0,0px); } }
@-webkit-keyframes Wobble {  50%{ -webkit-transform: translate3d(0,10px,0px); } 100% { -webkit-transform: translate3d(0,0,0px); } }
@keyframes Wobble {  50%{ -webkit-transform: translate3d(0,10px,0px); } 100% { -webkit-transform:translate3d(0,0,0px); } }

@-moz-keyframes stnMove { 50%{ -moz-transform: translate3d(100px,100px,-20px); } 100% { -moz-transform: translate3d(0px); } }
@-webkit-keyframes stnMove {  50%{ -webkit-transform: translate3d(100px,100px,-20px); } 100% { -webkit-transform: translate3d(0px); } }
@keyframes stnMove {  50%{ -webkit-transform: translate3d(100px,100px,-20px); } 100% { -webkit-transform:translate3d(0px); } }

.space-station {
    width: 100px;
    height: 300px;
    left: 5%!important;
    top: 50%!important;
}
@-moz-keyframes Wobble { 50%{ -moz-transform: translate3d(2px,10px,2px); } 100% { -moz-transform: translate3d(0,0px,0px); } }
@-webkit-keyframes Wobble {  50%{ -webkit-transform: translate3d(2px,10px,2px); } 100% { -webkit-transform: translate3d(0,0px,0px); } }
@keyframes Wobble {  50%{ -webkit-transform: translate3d(2px,10px,2px); } 100% { -webkit-transform:translate3d(0,0px,0px); } }
.planet-1{
  width:100px;
  height:50px;
  background:url('../img/planet1.png');
  background-size: contain;
  background-repeat: no-repeat!important;
  top:20%!important;
  left:25%!important;
}
.planet-2{
  width:80px;
  height:30px;
  background:url('../img/plnt2.png');
  background-size: contain!important;
  background-repeat: no-repeat!important;
  bottom:10%!important;
  right:25%!important;
  left:auto!important;
  top:auto!important;
}
.big-planet{
   background-image: url('../img/btm_plnt.png');
   background-attachment: initial;
   background-color: initial;
   background-size: cover !important;
   background-origin: initial;
   background-clip: initial;
   background-position: 50% 50% !important;
   background-repeat: no-repeat !important;

}
.ca-logo {
    width: 20%;
    height: 35%;
    background: url('../img/campusamb.png');
    background-size: contain!important;
    background-repeat: no-repeat!important;
    left: 17%!important;
    top: 27%!important;
    z-index: 100;
    cursor: pointer;
}
.cool-display {
    width: 20%;
    height: 15%;
    right: 15%!important;
    left: auto!important;
    bottom: 42.5%!important;
    top:auto!important;
}
.timer-area{
  height: 75px!important;
  width: 100%;
  top:10%!important;
}
.cool1,.cool2,.cool3,.cool4,.cool5,.cool6{
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  position: absolute;
  opacity: 0;
  transition:opacity .5s ease .2s;
}
.showtext{
  opacity: 1;
}
.coolouter{
  height: 100%;
}
.social-icons{
  display: -webkit-box!important;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box!important;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox!important;      /* TWEENER - IE 10 */
  display: -webkit-flex!important;
  display: flex!important;
  justify-content:space-between;
  height: 3%;
  width: 12%;
  left:75%!important;
  top:2%!important;
  z-index: 1000;
}
.about-hospi{
  display: -webkit-box!important;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box!important;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox!important;      /* TWEENER - IE 10 */
  display: -webkit-flex!important;
  display: flex!important;
  justify-content:space-between;
  height: 3%;
  width: 15%;
  left:5%!important;
  top:2%!important;
  z-index: 1000;
}
.cursor-pointer{
  cursor: pointer;
}
.wrapper-fb,.wrapper-twitter,.wrapper-youtube,.wrapper-instagram{
  height: 30px;
  width: 30px;
  border-radius:100%;
  background-color: #0769ff;
  color: white;
  line-height: 30px;
  cursor: pointer;
}
.wrapper-fb:hover{
  background-color: #3B5998;
}
.wrapper-youtube:hover{
  background-color: #D02020;
}
.wrapper-twitter:hover{
  background-color: #659FCB;
}
.wrapper-instagram:hover{
  background-color: #125688;
}
body > :not(.pace),body:before,body:after {
      -webkit-transition:opacity .4s ease-in-out .2s!important;
      -moz-transition:opacity .4s ease-in-out .2s!important;
      -o-transition:opacity .4s ease-in-out .2s!important;
      -ms-transition:opacity .4s ease-in-out .2s!important;
      transition:opacity .4s ease-in-out .2s!important;
    }
/*mediaq*/
@media (max-height: 320px){
  .about-hospi{
    display: none;
  }
  .timer-area{
    display: none!important;
  }
  .modal-menu-wrapper{
  height: 10%!important;
  width: 65%!important;
  right: 15%!important;
  top:12%!important;
}
.modal-menu-items{
     display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    flex-wrap: wrap;
}
.space-station,.planet-1,.planet-2,.cool-display{
  display: none!important;
}
.social-icons{
  display: none!important;
}
.circle1,.circle2,.circle3,.circle4,.circle5,.circle6{
  height: 40px!important;
  width: 40px!important;
  z-index: 100;
}
}

@media (max-width: 500px){
  .about-hospi{
    display: none;
  }
  .timer-area{
    display:none!important;
  }
  .pusher{
      transform: translate3d(0px, 0px, 0px)!important;
  }
  .social-icons{
    bottom: 4%!important;
    left:30%!important;
    top:auto!important;
    width: 40%;
  }
  .modal-menu-wrapper{
  height: 10%!important;
  width: 65%!important;
  right: 15%!important;
  top:12%!important;
}
.modal-menu-items{
     display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    flex-wrap: wrap;
}

.circle1,.circle2,.circle3,.circle4,.circle5,.circle6{
  height: 60px!important;
  width: 60px!important;
  z-index: 100;
}
.space-station,.planet-1,.planet-2,.cool-display{
  display: none!important;
}
.header{
  top:5%!important;
  left:10%!important;
  width: 80%!important;
}
.stationary{
      width: 60%!important;
    left: 20%!important;
    top: 44%!important;

}
.title{
  bottom: 3%!important;
}
.ca-logo{
    width: 24%!important;
    height: 20%!important;
    right: 6%!important;
    bottom: 11%;
    left: auto!important;
    top: auto!important;
}
}


body > :not(.pace), body:before, body:after {
    -webkit-transition: opacity .4s ease-in-out .1s!important;
    -moz-transition: opacity .4s ease-in-out .1s!important;
    -o-transition: opacity .4s ease-in-out .1s!important;
    -ms-transition: opacity .4s ease-in-out .1s!important;
    transition: opacity .4s ease-in-out .1s!important;
}

