<div class="row" ng-controller="RegisterController">
	<div ng-show="success==2" class='col-md-12'>
		<h4 class="bg-success" style="text-transform:none;">Thanx for registering we will get back to you soon.Please Check your inbox or drop a mail to ca@engineer.org.in</h4>
	</div>
	<div ng-show="success!=2" class="col-md-4">
		<button class="btn btn-block {{!CAForm ?'btn-info':'btn-danger'}}" ng-click="toggleCAForm()">{{ CAForm ? 'May Be Later':'BECOME A CA' }}</button>
	</div>

	<div class="clearfix"></div>

	<div ng-show="CAForm&&success!=2" class="caform">
		<hr/>
		<div><form name="caform" >
			<div class="col-md-12">
				<h4>BASIC INFORMATION</h4>
			</div>
			<div class="col-md-3">
				<h5>Name*</h5>
				<input type="text" ng-model="ca.name" class="form-control form-group" placeholder = 'Name' required/>
			</div>
			<div class="col-md-3">
				<h5>Email*</h5>
				<input type='email' validate-email name='email' id='email' ng-model='ca.email' required class="form-control form-group" placeholder = 'Email'/>
			</div>
			<div class="col-md-3">
				<h5>Phone Number*</h5>
				<input type="number" ng-model="ca.number" class="form-control form-group" placeholder = 'Phone Number' required maxlength="10" minlength="10"/>
			</div>
			<div class="col-md-3">
				<h5>College*</h5>
				<input type="text" ng-model="ca.college" class="form-control form-group" placeholder = 'College' required/>
			</div>
			<div class="col-md-12">
				<h4>TELL US MORE</h4>
			</div>
			<div class="col-md-12">
				<h5>Year of Pursuing*</h5>
			</div>

			<div class="col-md-3">
				<select class="form-control form-group" ng-init="ca.year = year[3]" ng-model="ca.year">
					<option ng-repeat="yer in year" >{{yer}}</option>
				</select>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-12">
				<h5>Your stream (Branch)*</h5>
			</div>
			<div class="col-md-3">
				<input type="text" ng-model="ca.stream" class="form-control form-group" placeholder = 'Discipline'/>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-12">
				<h5>Where is Your College Located ?*</h5>
			</div>
			<div class="col-md-3">
				<input type="text" ng-model="ca.location" class="form-control form-group" placeholder = 'Location College'/>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-12">
				<h5>Have You held any post in your college ?</h5>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-6">
						<input type="radio" name="held" value="yes" ng-model="ca.held"><h5>Yes</h5>
					</div>
					<div class="col-md-6">			
						<input type="radio" name="held" value="no" ng-model="ca.held"><h5>No</h5>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<br>
			<div class="col-md-12">
				<h5>If yes,then what</h5>
			</div>
			<div class="col-md-12">
				<input type="text" ng-model="ca.desc" class="form-control form-group" placeholder = 'Describe' rows="3"/>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-12">
				<h4>Your Social Media Link</h4>
			</div>
			<div class="col-md-6">
				<h5>Facebook</h5>
				<input type="text" ng-model="ca.flink" class="form-control form-group" placeholder = 'Link Facebook'/>
			</div>
			<div class="col-md-6">
				<h5>Twitter</h5>
				<input type="text" ng-model="ca.tlink" class="form-control form-group" placeholder = 'Link Twitter'/>
			</div>
		
		</form></div>
		<div class="clearfix"></div>
		<div ng-show="error" class='col-md-12'>
			<p class="bg-danger">Please fill all * marked field Properly</p>
		</div>
		<div ng-show="success==1&&!error" class='col-md-12'>
			<p class="bg-wait">Please wait while we send process your input <span><img src="./img/Fadingcircles.gif" class="waiter"/></span></p>
		</div>
		<div ng-show="success==3" class='col-md-12'>
			<p class="bg-danger">Some Server error occured sory for the inconvinience ..</p>
		</div>
		<div class="col-md-3">
			<button class="btn-success btn btn-block" ng-click="validateAndSubmit()">Register</button>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<style>
.waiter{
	    width: 20px;
    display: inherit;
    margin-left: 10px;
    position: relative;
    bottom: -2px;

}
.bg-success ,.bg-wait{
	background-color: #dff0d8;
	padding:12px;
	border:1px solid #C2BFBF;
	border-radius: 4px;
	text-align: center;
	font-weight: 400;
}
.bg-wait{
	background-color: #FFE483;
}
.bg-danger {
	background-color: #f2dede;
	padding:12px;
	border:1px solid #C5C5C5;
	border-radius: 4px;
	text-align: center;
	font-weight: 400;
}
.caform h4 {
    margin: 0 0 4px;
    font-size: 14px;
    font-weight: normal;
}
.caform h5 {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    color: #727272;
}
.ng-invalid-email{
   border:1px solid red;
 }
 </style>