<div id="menu" style="height: 100vh;position: absolute;left: 0px;top: 0px;z-index: 10000;min-width: 40px;">
    <nav>
        <h2><i class="fa fa-reorder"></i>Engineer</h2>
        <ul>
            
            <li>
                <a href="#"><i class="fa fa-lightbulb-o"></i>About</a>
            </li>
            
            <li>
                <a href="#/"><i class="fa fa-magnet"></i>Events</a>
                <h2><i class="fa fa-magnet"></i>Events</h2>
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-wrench"></i>Mechanical</a>
                        <h2><i class="fa fa-wrench"></i>Mechanical</h2>
                        <ul>
                            <li>
                                <a href="#/events/mechanical/perfectmachine" onclick="location.href= this.href;">Perfect Machine</a>
                            </li>
                            <li>
                                <a href="#">Wright Flight</a>
                            </li>
                            <li>
                                <a href="#">Proteus</a>
                            </li>
                            <li>
                                <a href="#">Robowars</a>
                            </li>
                            <li>
                                <a href="#">Velocity</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dollar"></i>Biz Events</a>
                        <h2><i class="fa fa-dollar"></i>Biz Events</h2>
                        <ul>
                            <li>
                                <a href="#">Vipanan</a>
                            </li>
                            <li>
                                <a href="#">Stockoholic</a>
                            </li>
                            <li>
                                <a href="#">coHRence</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-industry"></i>Civil</a>
                        <h2><i class="fa fa-industry"></i>Civil</h2>
                        <ul>
                            <li>
                                <a href="#">Fantasticity</a>
                            </li>
                            <li>
                                <a href="#">Nirvahana</a>
                            </li>
                            <li>
                                <a href="#">Mind Bend</a>
                            </li>
                            <li>
                                <a href="#">Architect</a>
                            </li>
                            <li>
                                <a href="#">Civil Blueprint</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-desktop"></i>Comps</a>
                        <h2><i class="fa fa-desktop"></i>Comps</h2>
                        <ul>
                            <li>
                                <a href="#">Coming Soon</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-flask"></i>Chemical</a>
                        <h2><i class="fa fa-flask"></i>Chemical</h2>
                        <ul>
                            <li>
                                <a href="#">Breakdown</a>
                            </li>
                            <li>
                                <a href="#">Contraption</a>
                            </li>
                            <li>
                                <a href="#">Industry Defined Problem</a>
                            </li>
                            <li>
                                <a href="#">Catalysis</a>
                            </li>
                            <li>
                                <a href="#">Online Quiz</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cubes"></i>Mining</a>
                        <h2><i class="fa fa-cubes"></i>Mining</h2>
                        <ul>
                            <li>
                                <a href="#">Coming Soon</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-gavel"></i>Metallurgical</a>
                        <h2><i class="fa fa-gavel"></i>Metallurgical</h2>
                        <ul>
                            <li>
                                <a href="#">Coming Soon</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-plug"></i>Tronix</a>
                        <h2><i class="fa fa-plug"></i>Tronix</h2>
                        <ul>
                            <li>
                                <a href="#">Symphony</a>
                            </li>
                            <li>
                                <a href="#">Foxhunt</a>
                            </li>
                            <li>
                                <a href="#">Tradeoff</a>
                            </li>
                            <li>
                                <a href="#">Simplicity</a>
                            </li>
                            <li>
                                <a href="#">Trailblazer</a>
                            </li>
                            <li>
                                <a href="#">Automata</a>
                            </li>
                            <li>
                                <a href="#">Waltz</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-puzzle-piece"></i>Workshops</a>
                <h2><i class="fa fa-puzzle-piece"></i>Workshops</h2>
                <ul>
                    <li>
                        <a href="#">Android Controlled Robotics</a>
                    </li>
                    <li>
                        <a href="#">Bridge Design</a>
                    </li>
                    <li>
                        <a href="#">Vehicle Overhauling</a>
                    </li>
                    <li>
                        <a href="#">Big Data</a>
                    </li>
                    <li>
                        <a href="#">Ethical Hacking</a>
                    </li>
                    <li>
                        <a href="#">Internet of Things</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-moon-o"></i>Technites</a>
                <h2><i class="fa fa-moon-o"></i>Technites</h2>
                <ul>
                    <li>
                        <a href="#">Coming Soon</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-microphone"></i>Tech Speaks</a>
                <h2><i class="fa fa-microphone"></i>Tech Speaks</h2>
                <ul>
                    <li>
                        <a href="#">Coming Soon</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-briefcase"></i>Campus Ambassador</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-users"></i>Team Engineer</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-calendar-check-o"></i>Schedule</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-support"></i>Sponsors</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-envelope"></i>Contact Us</a>
            </li>

        </ul>
    </nav>
</div>




<script>
    $(document).ready(function(){
        $('#menu').multilevelpushmenu({
            collapsed: true,
           containersToPush: [ $('#scene') ],
           fullCollapse: false, 
        });
    });


// collapse on clicking pushobj
$('body').on('click', '#container', function () {
  $('#menu').multilevelpushmenu('collapse');
});

// NOTE: following lines were commented in mlpm.js
// 596,597,741,742,743
</script>