<div id="menu" style="height: 100vh;position: absolute;left: 0px;top: 0px;z-index: 10000;min-width: 40px;">
    <nav>
        <h2><i class="fa fa-reorder"></i>Engineer</h2>
        <ul>
            
            <!--<li>
                <a href="#"><i class="fa fa-lightbulb-o"></i>About</a>
            </li>-->
            
            <li>
                <a href="#/"><i class="fa fa-magnet"></i>Events</a>
                <h2><i class="fa fa-magnet"></i>Events</h2>
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-wrench"></i>Mechanical</a>
                        <h2><i class="fa fa-wrench"></i>Mechanical</h2>
                        <ul>
                            <li>
                                <a href="#/events/mechanical/perfectmachine">Perfect Machine</a>
                            </li>
                            <li>
                                <a href="#/events/mechanical/wrightflight">Wright Flight</a>
                            </li>
                            <li>
                                <a href="#/events/mechanical/robowars">Robowars</a>
                            </li>
                            <li>
                                <a href="#/events/mechanical/velocity">Velocity</a>
                            </li>
                            <li>
                                <a href="#/events/mechanical/bothockey">Bot Hockey</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dollar"></i>Biz Waves</a>
                        <h2><i class="fa fa-dollar"></i>Biz Waves</h2>
                        <ul>
                            <li>
                                <a href="#/events/biz/vipanan">Vipanan</a>
                            </li>
                            <li>
                                <a href="#/events/biz/stockoholic">Stockoholic</a>
                            </li>
                            <li>
                                <a href="#/events/biz/cohrence">coHRence</a>
                            </li>
                            <li>
                                <a href="#/events/biz/battleofbrands">Battle Of Brands</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-industry"></i>Civil</a>
                        <h2><i class="fa fa-industry"></i>Civil</h2>
                        <ul>
                            <li>
                                <a href="#/events/civil/nirvanhana">Nirvahana</a>
                            </li>
                            <li>
                                <a href="#/events/civil/mindbend">Mind Bend</a>
                            </li>
                            <li>
                                <a href="#/events/civil/architect">Architect</a>
                            </li>
                            <li>
                                <a href="#/events/civil/civilblueprint">Civil Blueprint</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-desktop"></i>Comps</a>
                        <h2><i class="fa fa-desktop"></i>Comps</h2>
                        <ul>
                            <li>
                                <a href="#/events/comps/marathon">Marathon</a>
                            </li>
                            <li>
                                <a href="#/events/comps/rectify">Rectify</a>
                            </li>
                            <li>
                                <a href="#/events/comps/inscription">Inscription</a>
                            </li>
                            <li>
                                <a href="#/events/comps/ectfteaser">ECTF Teaser</a>
                            </li>
                            <li>
                                <a href="#/events/comps/kodekombat">Kode Kombat</a>
                            </li>
                            <li>
                                <a href="#/events/comps/coderush">Code Rush</a>
                            </li>
                            <li>
                                <a href="#/events/comps/synthessence">SynthEssence</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-flask"></i>Chemical</a>
                        <h2><i class="fa fa-flask"></i>Chemical</h2>
                        <ul>
                            <li>
                                <a href="#/events/chemical/breakdown">Breakdown</a>
                            </li>
                            <li>
                                <a href="#/events/chemical/contraption">Contraption</a>
                            </li>
                            <li>
                                <a href="#/events/chemical/industrydefinedproblem">Industry Defined Problem</a>
                            </li>
                            <li>
                                <a href="#/events/chemical/catalysis">Catalysis</a>
                            </li>
                            <li>
                                <a href="#/events/chemical/onlinequiz">Online Quiz</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-gavel"></i>Metallurgical</a>
                        <h2><i class="fa fa-gavel"></i>Metallurgical</h2>
                        <ul>
                            <li>
                                <a href="#">Coming Soon</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-plug"></i>Tronix</a>
                        <h2><i class="fa fa-plug"></i>Tronix</h2>
                        <ul>
                            <li>
                                <a href="#/events/tronix/symphony">Symphony</a>
                            </li>
                            <li>
                                <a href="#/events/tronix/foxhunt">Foxhunt</a>
                            </li>
                            <li>
                                <a href="#/events/tronix/tradeoff">Tradeoff</a>
                            </li>
                            <li>
                                <a href="#/events/tronix/simplicity">Simplicity</a>
                            </li>
                            <li>
                                <a href="#/events/tronix/trailblazer">Trailblazer</a>
                            </li>
                            <li>
                                <a href="#/events/tronix/automata">Automata</a>
                            </li>
                            <li>
                                <a href="#/events/tronix/waltz">Waltz</a>
                            </li>
                        </ul>
                    </li>
                     <li>
                        <a href="#"><i class="fa fa-moon-o"></i>Astro Events</a>
                        <h2><i class="fa fa-moon-o"></i>Astro Events</h2>
                        <ul>
                            <li>
                                <a href="#/events/astro/starrynights">Starry Nights</a>
                            </li>
                            <li>
                                <a href="#/events/astro/orbiter">Orbiter</a>
                            </li>
                            <li>
                                <a href="#/events/astro/starwars">Star Wars</a>
                            </li>
                            <li>
                                <a href="#/events/astro/antariksh">Antatriksh</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-puzzle-piece"></i>Workshops</a>
                <h2><i class="fa fa-puzzle-piece"></i>Workshops</h2>
                <ul>
                    <li>
                        <a href="#/workshops/bridgedesign">Bridge Design</a>
                    </li>
                    <li>
                        <a href="#/workshops/vehicleoverhauling">Vehicle Overhauling</a>
                    </li>
                    <li>
                        <a href="#/workshops/bigdata">Big Data</a>
                    </li>
                    <li>
                        <a href="#/workshops/ethicalhacking">Ethical Hacking</a>
                    </li>
                    <li>
                        <a href="#/workshops/internetofthings">Internet of Things</a>
                    </li>
                    <li>
                        <a href="#/workshops/unmannedgroundvehicle">Unmanned Ground Vehicle</a>
                    </li>
                    <li>
                        <a href="#/workshops/myphototalks">Fundamentals Of Photography</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-moon-o"></i>Technites</a>
                <h2><i class="fa fa-moon-o"></i>Technites</h2>
                <ul>
                    <li>
                        <a href="#">Coming Soon</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-microphone"></i>Tech Speaks</a>
                <h2><i class="fa fa-microphone"></i>Tech Speaks</h2>
                <ul>
                    <li>
                        <a href="#">Coming Soon</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#/CA"><i class="fa fa-briefcase"></i>Campus Ambassador</a>
            </li>

            <li>
                <a href="#/about"><i class="fa fa-users"></i>About</a>
            </li>

            <!--<li>
                <a href="#"><i class="fa fa-calendar-check-o"></i>Schedule</a>
            </li>-->
            <li>
                <a href="#/hospi"><i class="fa fa-life-ring"></i>Hospitality</a>
            </li>

        </ul>
    </nav>
</div>




<script>
    $(document).ready(function(){
        $('#menu').multilevelpushmenu({
            collapsed: true,
           containersToPush: [ $('#scene') ],
           fullCollapse: false, 
           menuWidth: 250,
            preventItemClick: false,
            preventGroupItemClick: true,   
        });
    });


// collapse on clicking pushobj
$('body').on('click', '#container', function () {
  $('#menu').multilevelpushmenu('collapse');
});
$('body').on('click', '#animatedModal', function () {
  $('#menu').multilevelpushmenu('collapse');
});

// NOTE: following lines were commented in mlpm.js
// 596,597,741,742,743
</script>