<div id="dd" class="modalwrapper" ng-controller='UpdatesController'>
  <div class="rel">
  <div class="" id="">
    <div id="container-wrapper">
        <div class="top-5f">
          <div class="col-md-2 col-xs-2">
            <div ng-if="cat">
              <div class="col-md-2 col-xs-2"><span ng-click="changeBack()"><img src="./img/bbtn.png" class="mt-10 bbt"/></span></div>
            </div>
          </div>
          <h4 class="modal-title col-md-8 col-xs-8">{{titlePage}}</h4>
          <div class="col-md-2 col-xs-2"><span ng-click="turnOffModal()"><img src="./img/closebtn.png" class="closebt mt-10"/></span></div>
        </div>
        <div class="row mt-70">
          <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat = "t in obj">
            <div class="item-wrapper">
              <div class="portfolio-item">
                <div ng-click="">
                  <div class="hover-content">
                    <div class="portfolio-img img-responsive" style="background-image:url('img/{{t.pic}}')"></div>
                      <div class="overlay-content">
                        <div class="description">
                          <div>Location&nbsp; : {{t.nlocation==''? t.location:t.nlocation}}</div>
                          <div>Time&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : {{t.ntime==''?t.time:t.ntime}}</div>
                          <div>Committee : {{t.committee}}</div>
                          <div ng-if="t.news!=''">News&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : {{t.news}}</div>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="portfolio-content">
                  <div ng-click="">
                    <h4>{{t.event}}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="clear:both"></div>
        </div>
      </div>
  </div>
</div>
</div>
<STYLE>
.modalwrapper{
      position: fixed;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    background-color: rgba(255,255,255,.9);
    overflow-y: scroll;
    padding: 25px;
    overflow-x:hidden;
}
.justify{
  text-align: justify;
}
.portfolio-content h4{
  font-size: 20px;
}
.portfolio-item {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 0px;
     background: #000;
    -webkit-box-shadow: 1px 1px 2px 0 rgba(255,255,255,0.8);
    -moz-box-shadow: 1px 1px 2px 0 rgba(255,255,255,0.8);
    box-shadow: 1px 1px 2px 0 rgba(255,255,255,0.8);
}
.hover-content {
    position: relative;
}
.item-wrapper{
    padding: 4px;
    background-color: #000;
    box-shadow: 1px 1px 2px 0 rgba(39, 39, 39, 0.8);
    margin-bottom: 25px;
    position: relative;
    cursor: pointer;
}
.portfolio-img {
    width: 100%;
    height: 180px!important;
    background-position: center center;
        background-size: cover;
    background-repeat: no-repeat;
    background-color: beige;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.hover-content:hover .overlay-content{
  opacity: 1;
}
.hover-content>.overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.88);
    z-index: 4;
    opacity: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    text-align: justify;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    transition: all linear .15s;
    -ms-transition: all linear .15s;
    -moz-transition: all linear .15s;
    -webkit-transition: all linear .15s;
    -o-transition: all linear .15s;
}
.portfolio-content {
    padding: 5px 10px 10px;
        position: absolute;
    bottom: 0;
    background-color: black;
    z-index: 5;
    width: 100%;
  }
}.portfolio-content>h4 {
    padding-top: 10px;
    height: 50px;
}
.portfolio-content h4{
  margin:0;
}
.description{
  margin-bottom: 5px;
}
.ng-enter 
{
    -webkit-transition: .7s;
    transition: .7s;
    opacity:0;
}
.ng-enter-active 
{
    opacity:1;
}


.ng-leave 
{
    -webkit-transition: .6s;
    transition: .3s;
}
.ng-leave-active 
{
    opacity:0;
}
.modal-title{
  font-family: space age;
    color: black;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 20px 0;
}
</style>
<style>
#style-3::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: black;
}

#style-3::-webkit-scrollbar
{
  width: 6px;
  background-color: #303030;
}

#style-3::-webkit-scrollbar-thumb
{
  background-color: #303030;
}
#style-3::-moz-scrollbar-track
{
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: black;
}

#style-3::-moz-scrollbar
{
  width: 6px;
  background-color: #303030;
}

#style-3::-moz-scrollbar-thumb
{
  background-color: #303030;
}
.slide-animation.ng-enter { display:none; }
.slide-animation.ng-enter.ng-enter-active { display:block; }
.item-wrapper::before {
    content: '';
    position: absolute;
    background-image: url('./img/tshadow.png');
    height: 34px;
    width: 32px;
    left: -26px;
    top: -5px;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
}
.item-wrapper::after {
    content: '';
    position: absolute;
    background-image: url('./img/bshadow.png');
    height: 24px;
    width: 98%;
    left: 1%;
    bottom: -16px;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.top-5f{
  position: fixed;
  top:5%;
  z-index: 10;
  left: 5%;
  right: 5%;
  transition:all .5s ease;
}
.fixedbar{
  background-color: white;
  border-bottom: 1px solid black;
}
.mt-70{
  margin-top: 60px;
}
.closebt {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor:pointer;
  
}
img.closebt{
  width: 50px!important;
    display: inline!important;
}
.closebt:hover {
  transform:rotate(90deg);
}
.mt-10{
  margin-top: 10px
}
img.bbt{
     width: 23px!important;
    display: inline!important;
    height: 40px;
    cursor: pointer;
}
</style>