<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
	
	<head>

		<!-- Meta -->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Engineer</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Engineer Web Team" />
		<meta name="keywords" content="engi, engineer, nitk, nitk surathkal, tech fest" />
		<meta name="description" content="Engineer is the Annual Technical Symposium of NITK Surathkal and is one of the largest of its kind in India." />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@EngineerNITK">
		<meta name="twitter:creator" content="@EngineerNITK">
		<meta name="twitter:title" content="Engineer">
		<meta name="twitter:description" content="Engineer is the Annual Technical Symposium of NITK Surathkal and is one of the largest of its kind in India.">
		<meta name="twitter:image:src" content="http://www.engineer.org.in/images/meta.png">

		<!-- Open Graph data -->
		<meta property="og:title" content="Engineer" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.engineer.org.in" />
		<meta property="og:image" content="http://www.engineer.org.in/images/meta.png" />
		<meta property="og:description" content="Engineer is the Annual Technical Symposium of NITK Surathkal and is one of the largest of its kind in India." />
		<meta property="og:site_name" content="Engineer" />

		<!-- preloader -->
		<script src="plugins/preloader/pace.min.js"></script>
		<link rel="stylesheet" type="text/css" href="plugins/preloader/pace-theme-center-atom.css" />
		

		<style type="text/css">
		body > :not(.pace),body:before,body:after {
		  -webkit-transition:opacity .4s ease-in-out;
		  -moz-transition:opacity .4s ease-in-out;
		  -o-transition:opacity .4s ease-in-out;
		  -ms-transition:opacity .4s ease-in-out;
		  transition:opacity .4s ease-in-out
		}

		body:not(.pace-done) > :not(.pace),body:not(.pace-done):before,body:not(.pace-done):after {
		  opacity:0
		}
		</style>

		<!-- engi fullsite libs -->
		<link rel="stylesheet" type="text/css" href="plugins/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="plugins/parallax/parallax.css"/>
		<link rel="stylesheet" type="text/css" href="css/avgrund.css">
		<link rel="stylesheet" type="text/css" href="css/custom.css"/>




		<!-- multi level push menu libraries -->
		<link rel="stylesheet" type="text/css" href="fonts/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="plugins/mlpm/jquery.multilevelpushmenu.css" />
		<link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic-ext,latin-ext,cyrillic'>
		
	</head>
	
	<body ng-app="Engi" ng-controller="MainController">

		<div id="container" class="wrapper">
			
			<div ng-include="'views/sidepanel.html'"></div>

			<div id="scene" class="scene" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15">
				<div class="layer" data-depth="0.03">
					<div class="background"></div>
				</div>
				<div class="layer space-station" data-depth="0.1"></div>
				<div class="layer planet-1" data-depth="0.04"></div>
				<div class="layer planet-2" data-depth="0.05" style="width:100px;
				height:200px;background:url('./img/plnt2.png')"></div>
				<div class="layer astro" data-depth="0.06"></div>
				<div class="layer modal-menu-wrapper" data-depth="0.07">
					<div class="modal-menu-items">
						<div class="circle1" ng-click="showModal('events')">
							<img class="outer-c" src="./img/1.png">
							<img src="./img/engicnnt.png">
						</div>
						<div class="circle2" ng-click="showModal('workshops')">
							<img class="outer-c" src="./img/1.png">
							<img src="./img/rbt.png">
						</div>
						<div class="circle3" ng-click="showModal('techspeaks')">
							<img class="outer-c" src="./img/1.png">
							<img src="./img/techxpk.png">
						</div>
						<div class="circle4" ng-click="showModal('technites')">
							<img class="outer-c" src="./img/1.png">
							<img src="./img/swiss.png">
						</div>
						<div class="circle5" ng-click="showModal('mainshow')">
							<img class="outer-c" src="./img/1.png">
							<img src="./img/cloud.png">
						</div>
						<div class="circle6" ng-click="showModal('engiconnect')">
							<img class="outer-c" src="./img/1.png">
							<img src="./img/rbt.png">
						</div>
					</div>
				</div>
				<div class="layer title" data-depth="0">

					<img src="./img/engix.png" class="brackets">
					<img src="./img/engx.png" class="innertext">
				</div>
				<div class="layer header" data-depth="0"></div>
				
				<div class="layer ca-logo" data-depth="0.07" ng-click="showModal('CA')"></div>
				<div class="layer cool-display" data-depth="0.07">
					<img src="./img/rightconebox.png" class="coolouter">
					<img src="./img/eventst.png" class="cool1">
					<img src="./img/works.png" class="cool2">
					<img src="./img/rightsideboxtext.png" class="cool3">
					<img src="./img/techn.png" class="cool4">
					<img src="./img/ms.png" class="cool5">
					<img src="./img/cnnct.png" class="cool6">
				</div>
				<div class="layer stationary" data-depth="0.0">

					<img class="rotater" src="./img/ER.png"/>
					<img class="only logo-layer" src="./img/17.png"/>
					<img class="only" src="./img/circle_12.png"/>
				</div>
				<div class="layer timer-area" data-depth="0">
					<div ng-include="'views/countdown.html'"></div>
				</div>
				<div class="layer social-icons" data-depth="0.04">
					<a href="http://www.facebook.com/engineernitk"><div class="wrapper-fb">
						<i class="fa fa-facebook"></i>
					</div></a>
					<a href="http://twitter.com/Engineer_NITK" target="_blank"><div class="wrapper-twitter">
						<i class="fa fa-twitter"></i>
					</div></a>
					<a href="http://youtube.com/engineernitk" target="_blank"><div class="wrapper-youtube">
						<i class="fa fa-youtube-play"></i>
					</div></a>
					<a href="https://instagram.com/engineer_nitks/"><div class="wrapper-instagram">
						<i class="fa fa-instagram"></i>
					</div></a>
				</div>
				<div class="layer" data-depth="0.0"><div id="particles-js"></div></div>
			</div>

		</div>
		<div ng-view autoscroll="false"></div>



		<!-- BODY SCRIPTS -->
		
		<!-- jquery and modernizer -->
		<script type="text/javascript" src="plugins/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="plugins/modernizer/modernizer.min.js"></script>
		
		<!-- particles -->
		<script type="text/javascript" src="plugins/particles/particles.min.js"></script>
		<script type="text/javascript" src="plugins/particles/particle.config.js"></script> 

		<!-- parallax  -->
		<script type="text/javascript" src="plugins/parallax/libraries.min.js"></script>
		<script type="text/javascript" src="plugins/parallax/jquery.parallax.min.js"></script>
		<script type="text/javascript" src="plugins/parallax/parallax.custom.js"></script>
		
		<!-- countdown -->
		<script type="text/javascript" src="plugins/countdown/kinect.js"> </script>
		<script type="text/javascript" src="plugins/countdown/jquery.final-countdown.min.js"></script>

		<!-- multi level menu libs -->
		<script type="text/javascript" src="plugins/mlpm/jquery.multilevelpushmenu.js"></script>

		<!-- angular libs -->
		<script type="text/javascript" src="plugins/angular/angular.min.js"></script>
		<script type="text/javascript" src="plugins/angular/ng-router.js"></script>
		<script type="text/javascript" src="plugins/angular/animate.min.js"></script>

		<!-- angular custom code -->
		<script type="text/javascript" src="ng/app.js"></script>
		<script type="text/javascript" src="ng/ctrl/EventsController.js"></script>
		<script type="text/javascript" src="ng/ctrl/LeafController.js"></script>
		<script type="text/javascript" src="ng/ctrl/OtherController.js"></script>
		<script type="text/javascript" src="ng/ctrl/RegisterController.js"></script>
		<script type="text/javascript" src="ng/ctrl/FormFillController.js"></script>
		
		<!-- our custom scripts  -->
		<script type="text/javascript" src="js/custom.js"></script>


<!-- preloader -->


	</body>
</html>